<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Corn bread</title>
    <link rel="stylesheet" href="style.css"/>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>


</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Favorite Recipes</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#"></a></li>
                <li><a href="/crabcakes">Crabcake</a></li>
                <li><a href="/cornbread">Cornbread</a></li>
                <li><a href="/gingerale">Ginger Ale</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="jumbotron" align="center">
    <h1>Cornbread Recipe!</h1>
    <img src="https://upload.wikimedia.org/wikipedia/commons/4/47/Corn_bread_muffins_1_copy.jpg" width="700"/>
</div>
<div class="container">

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">

                    <div class="panel-body">
                        <h2 class="headertekst">Ingredients:</h2>

                        <table>
                            <tr><th>Qnt            </th><th>Description</th></tr>
                            <tr><td>6              </td><td> Unsalted butter, melted, plus butter for baking dish</td></tr>
                            <tr><td>1 cup          </td> <td> Cornmeal </td></tr>
                            <tr><td>3/4 cup        </td> <td> All Purpose Four</td></tr>
                            <tr><td>1 tbsp         </td> <td> Sugar </td></tr>
                            <tr><td>1-1/2 tbs      </td> <td> Baking Powder</td></tr>
                            <tr><td> 1/2 tsp       </td> <td>  Baking Soda</td></tr>
                            <tr><td> 1/4 tsp       </td> <td>  Salt</td></tr>
                            <tr><td> 2             </td> <td>  Large Eggs</td></tr>
                            <tr><td> 1-1/2 cup    </td> <td> Butter Milk</td></tr>

                        </table>

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">

                    <div class="panel-body">
                        <h2 class="headertekst">Preperation:</h2>
                        <p>
                            Preheat the oven to 425 degrees F. Lightly grease an 8-inch baking dish.

                            In a large bowl, mix together the cornmeal, flour, sugar, baking powder, baking soda, and salt.

                            In a separate bowl, mix together the eggs, buttermilk, and butter. Pour the buttermilk mixture into the cornmeal mixture and fold together until there are no dry spots (the batter will still be lumpy). Pour the batter into the prepared baking dish.

                            Bake until the top is golden brown and tester inserted into the middle of the corn bread comes out clean, about 20 to 25 minutes. Remove the cornbread from the oven and let it cool for 10 minutes before serving.
                        </p>
                        <h4>Feeds 4 - 6 people</h4>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>
<footer>
    <p>copywrite 2017 to me</p>
</footer>

</body>
</html>