<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Ginger Bread</title>
    <link rel="stylesheet" href="style.css"/>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>


</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Favorite Recipes</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#"></a></li>
                <li><a href="/crabcakes">Crabcake</a></li>
                <li><a href="/cornbread">Cornbread</a></li>
                <li><a href="/gingerale">Ginger Ale</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="jumbotron" align="center">
    <h1>Gingerale Recipe</h1>
    <img src="https://upload.wikimedia.org/wikipedia/commons/0/09/Ginger_ale.jpg" width="400"/>
</div>
<div class="container">

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">

                    <div class="panel-body">
                        <h2 class="headertekst">Ingredients:</h2>

                        <table>
                            <tr><th>Qnt            </th><th>Description</th></tr>
                            <tr><td>1-1/2 ounces              </td><td> finely grated fresh ginger</td></tr>
                            <tr><td>6 ounces         </td> <td> Sugar </td></tr>
                            <tr><td>7-1/2 cups       </td> <td> Filtered Water</td></tr>
                            <tr><td>1/8 tsp     </td> <td> Active Dry Yeast </td></tr>
                            <tr><td>2 tbs      </td> <td> Freshly squeezed lemon juice</td></tr>


                        </table>

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">

                    <div class="panel-body">
                        <h2 class="headertekst">Preperation:</h2>
                       <p>
                           Place the ginger, sugar, and 1/2 cup of the water into a 2-quart saucepan and set over medium-high heat. Stir until the sugar has dissolved. Remove from the heat, cover and allow to steep for 1 hour.

                           Pour the syrup through a fine mesh strainer set over a bowl, pressing down to get all of the juice out of the mixture. Chill quickly by placing over and ice bath and stirring or set in the refrigerator, uncovered, until at least room temperature, 68 to 72 degrees F.

                           Using a funnel, pour the syrup into a clean 2-liter plastic bottle and add the yeast, lemon juice and remaining 7 cups of water. Place the cap on the bottle, gently shake to combine and leave the bottle at room temperature for 48 hours. Open and check for desired amount of carbonation. It is important that once you achieve your desired amount of carbonation that you refrigerate the ginger ale. Store in the refrigerator for up to 2 weeks, opening the bottle at least once a day to let out excess carbonation.
                       </p>
                        <h4>Feeds 4 - 6 people</h4>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>
<footer>
    <p>copywrite 2017 to me</p>
</footer>

</body>
</html>